html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-size-adjust: none;
}

#root {
  position: relative;
  height: 100%;
  font-size: 14px;
  color: #333;
}
